version: '3.8'

services:
  db:
    image: mariadb:10.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Sch226kiyvcitY
      MYSQL_DATABASE: wordpress226
      MYSQL_USER: user226
      MYSQL_PASSWORD: Sch226kiyvcitY
    volumes:
      - db_data:/var/lib/mysql # <-- Сохраняем базу данных

  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    restart: always
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: user226
      WORDPRESS_DB_PASSWORD: Sch226kiyvcitY
      WORDPRESS_DB_NAME: wordpress226
    volumes:
      - wp_data:/var/www/html 

volumes:
  db_data:
  wp_data:
